In [1]:
import pandas as pd

In [2]:
csv_path = '/content/netflix_titles_nov_2019.csv'

df = pd.read_csv(csv_path)

print(df.head())

    show_id                                title                    director  \
0  81193313                            Chocolate                         NaN
1  81197050  Guatemala: Heart of the Mayan World  Luis Ara, Ignacio Jaunsolo
2  81213894                      The Zoya Factor             Abhishek Sharma
3  81082007                            Atlantics                   Mati Diop
4  80213643                      Chip and Potato                         NaN

                                                cast  \
0  Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...
1                                  Christian Morales
2  Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...
3  Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...
4  Abigail Oliver, Andrea Libman, Briana Buckmast...

                    country         date_added  release_year rating  \
0               South Korea  November 30, 2019          2019  TV-14
1                       NaN  November 30, 2019          2019   TV-G
2                     India  November 30, 2019          2019  TV-14
3  France, Senegal, Belgium  November 29, 2019          2019  TV-14
4    Canada, United Kingdom                NaN          2019   TV-Y

    duration                                          listed_in  \
0   1 Season  International TV Shows, Korean TV Shows, Roman...
1     67 min                Documentaries, International Movies
2    135 min             Comedies, Dramas, International Movies
3    106 min   Dramas, Independent Movies, International Movies
4  2 Seasons                                           Kids' TV

                                         description     type
0  Brought together by meaningful meals in the pa...  TV Show
1  From Sierra de las Minas to Esquipulas, explor...    Movie
2  A goofy copywriter unwittingly convinces the I...    Movie
3  Arranged to marry a rich man, young Ada is cru...    Movie
4  Lovable pug Chip starts kindergarten, makes ne...  TV Show

In [3]:
print("\nMissing values before handling:\n", df.isnull().sum())

Missing values before handling:
 show_id            0
title              0
director        1901
cast             556
country          427
date_added       642
release_year       0
rating            10
duration           0
listed_in          0
description        0
type               0
dtype: int64

In [4]:
df['country'] = df['country'].fillna('Unknown')

df['director'] = df['director'].fillna('Not Available')

df = df.dropna(subset=['title', 'type'])

In [5]:
df = df.drop_duplicates()

In [6]:
df['country'] = df['country'].str.title().str.strip()

df['rating'] = df['rating'].str.upper().str.strip()

In [7]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

In [8]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [9]:
df['release_year'] = df['release_year'].astype('Int64')

In [10]:
print("\nCleaned Data Info:")
print(df.info())

print("\nCleaned Data Snapshot:\n", df.head())

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5837 non-null   int64
 1   title         5837 non-null   object
 2   director      5837 non-null   object
 3   cast          5281 non-null   object
 4   country       5837 non-null   object
 5   date_added    5195 non-null   datetime64[ns]
 6   release_year  5837 non-null   Int64
 7   rating        5827 non-null   object
 8   duration      5837 non-null   object
 9   listed_in     5837 non-null   object
 10  description   5837 non-null   object
 11  type          5837 non-null   object
dtypes: Int64(1), datetime64[ns](1), int64(1), object(9)
memory usage: 553.0+ KB
None

Cleaned Data Snapshot:
     show_id                                title                    director  \
0  81193313                            Chocolate               Not Available
1  81197050  Guatemala: Heart of the Mayan World  Luis Ara, Ignacio Jaunsolo
2  81213894                      The Zoya Factor             Abhishek Sharma
3  81082007                            Atlantics                   Mati Diop
4  80213643                      Chip and Potato               Not Available

                                                cast  \
0  Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...
1                                  Christian Morales
2  Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...
3  Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...
4  Abigail Oliver, Andrea Libman, Briana Buckmast...

                    country date_added  release_year rating   duration  \
0               South Korea 2019-11-30          2019  TV-14   1 Season
1                   Unknown 2019-11-30          2019   TV-G     67 min
2                     India 2019-11-30          2019  TV-14    135 min
3  France, Senegal, Belgium 2019-11-29          2019  TV-14    106 min
4    Canada, United Kingdom        NaT          2019   TV-Y  2 Seasons

                                           listed_in  \
0  International TV Shows, Korean TV Shows, Roman...
1                Documentaries, International Movies
2             Comedies, Dramas, International Movies
3   Dramas, Independent Movies, International Movies
4                                           Kids' TV

                                         description     type
0  Brought together by meaningful meals in the pa...  TV Show
1  From Sierra de las Minas to Esquipulas, explor...    Movie
2  A goofy copywriter unwittingly convinces the I...    Movie
3  Arranged to marry a rich man, young Ada is cru...    Movie
4  Lovable pug Chip starts kindergarten, makes ne...  TV Show